@font-face {
  font-family: "Nexa Regular";
  src: url(../fonts/NexaRegular.otf);
}

@font-face {
  font-family: "Nexa Black";
  src: url(../fonts/NexaBlack.otf);
}

:root,
body {
  font-family: "Nexa Regular";
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Nexa Black";
  font-size: 60px;
  font-weight: 900;
}

.cart-add {
  padding: 16px 42px;
  background-color: #ff360a;
  color: #ffffff;
  display: inline-block;
}
